/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #ddc4cb;
    border: dashed 5px
  }

  p{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 1cm;}
  
  h3{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;}

  .img-size{
    width: 400px;
    padding: 10px;
    height: 400px;
  }

  h4{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
text-indent: 7px;}