
h1{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 25px;
}

h2{
    text-align: center;
}
#content{
    border-radius: 25px;
}
p{
    text-align: center;
}

.minor-section{
    border: solid;
    border: dashed 5px;
}


.photo-box{
    flex-basis: 50%;
    width: 100%;
  }
  .lab-img{
    width: 400px;
    padding: 10px;
    height: 400px;
    text-align: center;
  } 